
.game-card {
  background-color: var(--steam-black) !important;
  color: var(--steam-white) !important;

  flex-direction: row !important;

  margin: 1em;
}

.game-card-img {
  width: 20% !important;
}